/* Switzer Variable Font */
@font-face {
  font-family: Switzer;
  src: url("/fonts/switzer/Switzer-Variable.ttf");
  font-display: swap;
}

/* PP Hatton Bold Italic */
@font-face {
  font-family: PP Hatton;
  src: url("/fonts/pp-hatton/PPHatton-BoldItalic.otf");
  font-display: swap;
}

@font-face {
  font-family: PP Hatton;
  src: url("/fonts/pp-hatton/PPHatton-MediumItalic.otf");
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-primary: "Switzer", sans-serif;
  --font-secondary: "PP Hatton", sans-serif;
}

@layer base {
  * {
    @apply box-border;
  }
  ::selection {
    @apply bg-rose-600 text-rose-50;
  }
  body {
    @apply m-0 p-0 min-h-screen bg-white text-black text-base leading-relaxed;
  }
  html {
    @apply scroll-smooth;
  }
}

html::-webkit-scrollbar {
  display: none;
}
